body {
    font-family: Arial, Helvetica, sans-serif;
}

form#form {
    background-color: white;
    width: 400px;
    padding: 0px 20px 5px 20px;
    box-shadow: 3px 3px 8px 0px #6e6e6e;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
}

/* Rules */
/* Rules Button */
.menuBar {
    width: 440px;
    margin: auto;
}
#rulesButton {
    border: none;
    width: 100%;
    padding: 4px 0px;
    height: 30px;
    margin: 0px;
    cursor: pointer;
    background-color: #e6edff;
    border-radius: 10px 10px 0px 0px;
}
#rulesButton img {
    height: 100%;
}
#rulesButton i.fas {
    font-size: 12px;
    color: #585858;
    transform: rotate(180deg);
    transition: all 0.5s ease-in-out;
}
#rulesButton i.fas.reverse {
    color: #f44336;
    transform: rotate(0deg);
    transition: all 1s;
}
/* Rules Button  End*/

/* Rules Content */
.rules {
    /* background-color: #efefef; */
    background-color: #e6edff;
    line-height: 18px;
    border-top: 1px solid #9fb2e1;
    /* padding: 0px 5px 0px 5px; */
    position: absolute;
    top: 39px;
    width: 440px;
}

.rules.visible {
    height: 310px;
    overflow: hidden;

    transition: all 0.5s ease-in-out;

    border-bottom: 4px double #bababa;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.rules.hidden {
    height: 0px;
    overflow: hidden;

    transition: all 0.5s ease-in-out;
}

.rules .heading {
    text-align: center;
    text-decoration: underline;
    color: rgb(60, 60, 60);
    margin: 0px auto 0px auto;
}
.rules ul {
    margin-top: 0px;
    margin-bottom: 15px;
}
.rules li {
    color: rgb(60, 60, 60);
    font-size: 14px;
}
/* Rules Content End*/

.form-control {
    /* margin-bottom: 20px; */
}
.form-control p,
.form-control.gender span,
.form-control select {
    color: rgb(56, 56, 56);
}
.form-control p.title {
    float: left;
    display: inline;
}
.form-control p.title2 {
    margin-left: 10px;
    font-size: 14px;
    float: left;
    margin-top: 18px;
    color: rgb(91 91 91);
}
.form-control option {
    color: black;
}
.form-control.agree,
.form-control:last-child {
    margin-bottom: 5px;
}
.form-control small {
    visibility: hidden;
    display: block;
    color: rgb(255, 26, 0);
}
.form-control input,
.form-control select,
.form-control .submit {
    font-size: 16px;
    width: 390px;
    padding: 8px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 10px;
}
.form-control input:focus {
    border: 1px solid orange;
    outline: none;
}
.form-control.gender input,
.form-control.agree input {
    width: 15px;
}
.form-control.agree input {
    float: left;
    margin-top: 2px;
    margin-right: 10px;
}
.form-control .submit {
    background-color: #000084;
    color: white;
    font-size: 18px;
}
.form-control .submit:focus {
    outline: none;
    background-color: #000084;
    transition: all 0.4s;
}
.valid input {
    border: 1px solid blue;
    outline: none;
}
.valid input:focus {
    border: 1px solid blue;
    outline: none;
}

/* For Error Messages */
.form-control.wrong small {
    visibility: visible;
    margin: 5px 0px 0px 10px;
}
.form-control.wrong input {
    outline: none;
    border: 1px solid orange;
    border-radius: 5px;
}

.form-control.agree.wrong p {
    margin-bottom: 5px;
}
.form-control.agree.wrong small {
    margin-bottom: 20px;
}

/* Responsive */
